@font-face {
  font-family: "Lexend";
  src: url("./Lexend.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg{
  color: #d10000;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto";
}

header {
  display: flex;
  align-items: center;
  background-color: #d10000;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #eeeee3;
  z-index: 50;
}

#header-logo {
  margin-left: 15px;
  color: white;
  font-size: 2rem;
}

aside {
  font-family: "Lexend";
  padding-top: 100px;
  background-color: #eeeee3;
  width: 250px;
  display: flex;
  flex-direction: column;
}
main {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 70px;
  position: relative;
}

.icon > svg {
  font-size: 1.5rem;
  margin-left: 30px;
}

.icon {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 5px;
  height: 40px;
}

.icon > p {
  font-size: 1.2rem;
  margin-left: 10px;
}

/* .icon:hover{
  background-color: #d4d4d4;
} */


/* -------------------TABLE STYLING----------------------------------- */
#main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
table,th,td {
  padding: 7px;
}
th, td {
  text-align: left;
}
table tr td:nth-child(1),table tr td:nth-child(4),table tr td:nth-child(5) {
  width: 15px;
}

table tr td:nth-child(3) {
  width: 100px;
}

tbody{
  background-color: #eeeee3;
}

table{
  width: 80vw;
  margin: 0 auto;
  border-collapse: collapse;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
}

#all-tables{
  width: 100%;
}
/*-------------------------------END TABLE STYLINGS------------------------------------- */




#modal {
  padding-top: 20px;
  border: 0.5px solid #4a4a4a;
  display: none;
  flex-direction: column;
  width: 500px;
  gap: 5px;
  height: 200px;
  border-radius: 15px;
  position: absolute;
  left: 40%;
  top: 30%;
  z-index: 200;
  background-color: white;
}

#modal > input {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto";
  border: 0.5px solid #eeeee3;
  font-size: 14px;
  height: 30px;
  padding-left: 4px;
}

#modal > input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 1rem;
}
#wrapper {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
#wrapper > button {
  font-family: "Lexend";
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btnConfirm {
  background-color: #d10000;
  color: #eeeee3;
}

#btnCancel {
  background-color: #d4d4d4;
}

#wrapper > button:hover {
  scale: 1.2;
}

#modal-trigger {
  font-family: "Lexend";
  font-size: 1.2rem;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}



#modal-trigger:hover {
  color: gray;
  scale: 1.1;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer;
}

.flex{
  display: flex !important ;
}

#projects{
  max-height: 0;
  overflow: hidden;
  margin-top: -10px;
  transition: max-height 0.2s linear;
}

#add-project{
  background-color: inherit;
  font-family: 'Lexend';
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 5px;

}


#project-input{
  width: 70%;
  border: 0.5px solid #d4d4d4;
  border-radius: 5px;
  height: 25px;
  margin: 5px 0 5px 35px;
  font-family: inherit;
  padding-left: 5px;
  background-color: inherit;
}


.project-container{
  font-size: 14px;
  margin: 2px 0 2px 45px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  
}
.project-container>svg{
  margin-top: 2px;
}
.project-container>.deleteWrapper{
  position: absolute;
  right: 40px;
  display: none; 
  margin-top: 2px;
}



#project-confirm{
  margin-left: 45px;
  font-family: inherit;
  background-color: #d10000;
    font-size: 0.8rem;
  border: none;
  height: 25px;
  width: 100px;
  color: #eeeee3;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

#project-confirm:hover{
  background-color: #d4d4d4;
  color: black;
}

.hidden{
  max-height: 500px !important;
  height: auto;
}

#wrap-hide{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.texto-tachado{
  text-decoration: line-through;
  color: gray;
}

.active{
  background-color: #6A5ACD;
  color:white;
}